AWS_REGION=us-east-1
S3_RESUME_BUCKET=my-resume-bucket
SERPER_API_KEY=your-serper-api-key #Get one from serper.dev
TOKEN_URL=https://us-east-1xxxxxxx.auth.us-east-1.amazoncognito.com/oauth2/token #Get this from AgentCore Gateway sample invocation code
COGNITO_CLIENT_ID=your-client-id
COGNITO_CLIENT_SECRET=your-client-secret
GATEWAY_ENDPOINT=https://job-coach-gateway-xxxx.gateway.bedrock-agentcore.us-east-1.amazonaws.com #Get this from AgentCore Gateway sample invocation code
AGENTCORE_MEMORY_ID=job_coach_memory
